
.ipynb_checkpoints/test_stability-checkpoint.ipynb
__pycache__/BucketFactory.cpython-38.pyc
__pycache__/dataset_confs.cpython-38.pyc
__pycache__/DatasetManager.cpython-38.pyc
__pycache__/EncoderFactory.cpython-38.pyc
bucketers/__pycache__/__init__.cpython-38.pyc
bucketers/__pycache__/ClusterBasedBucketer.cpython-38.pyc
bucketers/__pycache__/NoBucketer.cpython-38.pyc
bucketers/__pycache__/PrefixLengthBucketer.cpython-38.pyc
bucketers/__pycache__/StateBasedBucketer.cpython-38.pyc
labeled_logs_csv_processed/BPIC11_f1.csv
labeled_logs_csv_processed/BPIC11_f2.csv
labeled_logs_csv_processed/BPIC11_f3.csv
labeled_logs_csv_processed/BPIC11_f4.csv
labeled_logs_csv_processed/BPIC15_1_f2.csv
labeled_logs_csv_processed/BPIC15_2_f2.csv
labeled_logs_csv_processed/BPIC15_3_f2.csv
labeled_logs_csv_processed/BPIC15_4_f2.csv
labeled_logs_csv_processed/BPIC15_5_f2.csv
labeled_logs_csv_processed/BPIC17_O_Accepted - Copy.csv
labeled_logs_csv_processed/BPIC17_O_Accepted.csv
labeled_logs_csv_processed/BPIC17_O_Cancelled.csv
labeled_logs_csv_processed/BPIC17_O_Refused.csv
labeled_logs_csv_processed/bpic2012_O_ACCEPTED-COMPLETE.csv
labeled_logs_csv_processed/bpic2012_O_CANCELLED-COMPLETE.csv
labeled_logs_csv_processed/bpic2012_O_DECLINED-COMPLETE.csv
labeled_logs_csv_processed/hospital_billing_2.csv
labeled_logs_csv_processed/hospital_billing_3.csv
labeled_logs_csv_processed/Production.csv
labeled_logs_csv_processed/sepsis_cases_1.csv
labeled_logs_csv_processed/sepsis_cases_2.csv
labeled_logs_csv_processed/sepsis_cases_4.csv
labeled_logs_csv_processed/traffic_fines_1.csv
.ipynb_checkpoints/test_stability-checkpoint.ipynb
transformers/__pycache__/__init__.cpython-38.pyc
transformers/__pycache__/AggregateTransformer.cpython-38.pyc
transformers/__pycache__/IndexBasedTransformer.cpython-38.pyc
transformers/__pycache__/LastStateTransformer.cpython-38.pyc
transformers/__pycache__/StaticTransformer.cpython-38.pyc
.ipynb_checkpoints/test_stability-checkpoint.ipynb
*/.ipynb_checkpoints/*
*-checkpoint.ipynb
*.pyc
sepsis_cases/xgboost/single_agg/feature_permutations/sepsis_cases/true_positives/0_permutations.csv
*_permutations.csv
hospital/*/train_data_bucket_*.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_1.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_10.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_11.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_12.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_13.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_14.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_2.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_3.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_4.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_5.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_6.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_7.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_8.csv
hospital/logit/prefix_agg/train_data/train_data_bucket_9.csv
hospital/logit/prefix_index/train_data/train_data_bucket_1.csv
hospital/logit/prefix_index/train_data/train_data_bucket_10.csv
hospital/logit/prefix_index/train_data/train_data_bucket_11.csv
hospital/logit/prefix_index/train_data/train_data_bucket_12.csv
hospital/logit/prefix_index/train_data/train_data_bucket_13.csv
hospital/logit/prefix_index/train_data/train_data_bucket_14.csv
hospital/logit/prefix_index/train_data/train_data_bucket_2.csv
hospital/logit/prefix_index/train_data/train_data_bucket_3.csv
hospital/logit/prefix_index/train_data/train_data_bucket_4.csv
hospital/logit/prefix_index/train_data/train_data_bucket_5.csv
hospital/logit/prefix_index/train_data/train_data_bucket_6.csv
hospital/logit/prefix_index/train_data/train_data_bucket_7.csv
hospital/logit/prefix_index/train_data/train_data_bucket_8.csv
hospital/logit/prefix_index/train_data/train_data_bucket_9.csv
hospital/logit/single_agg/train_data/train_data_bucket_1.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_1.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_10.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_11.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_12.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_13.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_14.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_2.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_3.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_4.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_5.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_6.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_7.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_8.csv
hospital/nb/prefix_agg/train_data/train_data_bucket_9.csv
hospital/nb/prefix_index/train_data/train_data_bucket_1.csv
hospital/nb/prefix_index/train_data/train_data_bucket_10.csv
hospital/nb/prefix_index/train_data/train_data_bucket_11.csv
hospital/nb/prefix_index/train_data/train_data_bucket_12.csv
hospital/nb/prefix_index/train_data/train_data_bucket_13.csv
hospital/nb/prefix_index/train_data/train_data_bucket_14.csv
hospital/nb/prefix_index/train_data/train_data_bucket_2.csv
hospital/nb/prefix_index/train_data/train_data_bucket_3.csv
hospital/nb/prefix_index/train_data/train_data_bucket_4.csv
hospital/nb/prefix_index/train_data/train_data_bucket_5.csv
hospital/nb/prefix_index/train_data/train_data_bucket_6.csv
hospital/nb/prefix_index/train_data/train_data_bucket_7.csv
hospital/nb/prefix_index/train_data/train_data_bucket_8.csv
hospital/nb/prefix_index/train_data/train_data_bucket_9.csv
hospital/nb/single_agg/train_data/train_data_bucket_1.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_1.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_10.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_11.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_12.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_13.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_14.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_2.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_3.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_4.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_5.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_6.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_7.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_8.csv
hospital/xgboost/prefix_agg/train_data/train_data_bucket_9.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_1.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_10.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_11.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_12.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_13.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_14.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_2.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_3.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_4.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_5.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_6.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_7.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_8.csv
hospital/xgboost/prefix_index/train_data/train_data_bucket_9.csv
hospital/xgboost/single_agg/train_data/train_data_bucket_1.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_1.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_10.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_11.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_12.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_13.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_14.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_2.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_3.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_4.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_5.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_6.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_7.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_8.csv
hospital/decision_tree/prefix_agg/train_data/train_data_bucket_9.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_1.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_10.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_11.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_12.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_13.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_14.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_2.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_3.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_4.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_5.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_6.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_7.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_8.csv
hospital/decision_tree/prefix_index/train_data/train_data_bucket_9.csv
hospital/decision_tree/single_agg/train_data/train_data_bucket_1.csv
bpic2012/datasets/training_data.xes.xes.gz
bpic2012/datasets/training_data.xes
bpic2012/datasets/train_prefixes.xes.gz
bpic2012/datasets/train_prefixes.mxml.gz
bpic2012/datasets/ProM_LogStatistics.csv
bpic2012/datasets/gen_log/RootPage.eps
bpic2012/datasets/gen_log/gen_log.xes
bpic2012/datasets/gen_log/gen_log.csv
bpic2012/datasets/gen_log/event_log_config.json
bpic2012/datasets/gen_log/event_log.xes
bpic2012/datasets/gen_log/dpn.pnml
bpic2012/datasets/gen_log/cpn.cpn
bpic2012/datasets/full_labeled.xes.gz
labeled_logs_csv_processed/sepsis_cases_1.xlsx
figures/*
params/*